.box
	.box-header
		h3.box-title
			i.fa.fa-users &nbsp;
			span.hidden-xs Manajemen Siswa
		.box-tools.pull-right
			button.btn.btn-box-tool#btnImport(data-toggle='modal' title='Impor Siswa dari Excel' )
				i.fa.fa-file-excel-o.fa-2x
			button.btn.btn-box-tool#btnAddSiswa(type="button" data-toggle='modal' title='Tambah Siswa' data-target="#modalFormSiswa")
				i.fa.fa-user-plus.fa-2x
			button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
				i.fa.fa-minus
			button(type='button', data-widget='remove', data-toggle='tooltip',title='Remove').btn.btn-box-tool
				i.fa.fa-times
	.box-body
		.table-responsive
			table.table.table-bordered.table-condensed.dataTable#tableSiswas(data-judul="Data Siswa")
				caption Data Siswa
				thead
					tr
						th No
						th NIS
						//- th Password
						th Nama Lengkap
						th No HP
						th Kelas
						//- th Level
						th Opsi
				tbody#tbodysiswas
					each siswa, index in data
						tr
							td #{index+1}
							td #{siswa.nis}
							//- td #{user.password}
							td #{siswa.namaSiswa}
							td #{siswa.hp}
							td 
								if (siswa.Rombel != null)
									| #{siswa.Rombel.namaRombel}
								else
									| Belum terdaftar di kelas

							//- td #{user.level}
							td 
								button.btn.btn-sm.btn-warning.flat.btnEditSiswa(
									data-id=siswa.id
									data-nama=siswa.namaSiswa)
									i.fa.fa-pencil
								button.btn.btn-sm.btn-danger.flat.btnDelSiswa(
									data-id=siswa.id
									data-nama=siswa.namaSiswa)
									i.fa.fa-trash
	.box-footer
		| Footer

.modal#modalFormSiswa
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal')
					i.fa.fa-close
				h3 
					span#modForm Tambah 
					| Siswa
			.modal-body
					form.form#frmAddSiswa(method="post" action="")
						input#id(type="hidden" name="id" value="")
						input#mod(type="hidden" name="mod" value="create")
						.form-group
							label NIS
							input.form-control#nis(name="nis" placeholder="NIS" required)
						.form-group
							label Nama Lengkap
							input.form-control#namaSiswa(name="namaSiswa" placeholder="Nama Siswa" required)
						.form-group
							label No. HP
							input.form-control#hp(name="hp" placeholder="No. HP" required)
						.form-group
							label Kelas / Rombel
							select.form-control#selectRombel(name="rombel" placeholder="Kelas / Rombel" style="width:100%" )
						.form-group
							.container
								.btn-group.center-block
									button.btn.flat.btn-primary#btnCreateSiswa
										i.fa.fa-save
										| &nbsp; Simpan
									button.btn.flat.btn-warning#resetForm(type="reset")
										i.fa.fa-save
										| &nbsp; Reset

.modal#modalImport
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal')
					i.fa.fa-close
				h3 Impor Siswa
			.modal-body
					form.form#frmImportSiswa(method="post" action="" enctype="multipart/form-data")
						.form-group
							label File Excel
							input.form-control#file(name="file" type="file" placeholder="File" required)
						.form-group
							button.btn.flat.btn-success.center-block#btnImportNow(data-content="siswas")
								i.fa.fa-save
								| &nbsp; Import